h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    padding: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.admin-container {
    margin: 10px;
    padding: 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #bbbaba;
    max-width: 350px;
}