<div *ngIf="userMediaList.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Remove</th>
        <th>Title</th>
        <th>Type</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userMedia of userMediaList">
        <td><button (click)="removeUserMedia(userMedia)"><i class="fa-solid fa-circle-minus"></i></button></td>
        <td>{{ userMedia.title }}</td>
        <td>{{ userMedia.type }}</td>
        <td>{{ userMedia.releaseDate  | date : "MM/dd/yyyy"}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="userMediaList.length === 0">
  <p>No items in the user's media list.</p>
</div>
