<div *ngIf="allMediaDetails.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Remove</th>
        <th>Title</th>
        <th>Type</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mediaDetails of allMediaDetails">
        <td><button (click)="removeUserMedia(mediaDetails)"><i class="fa-solid fa-circle-minus"></i></button></td>
        <td>{{ mediaDetails.title }}</td>
        <td>{{ mediaDetails.type }}</td>
        <td>{{ mediaDetails.releaseDate | date : "MM/dd/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>  {{allMediaDetails | json}} </div>
<div *ngIf="allMediaDetails.length === 0">
  <p>No items in the user's media list.</p>
</div>
